<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/fonts.css">
</head>

<body>
    <nav class="navBar">
        <div
            style="max-width: 1200px;width: 100%; margin: auto;display: flex;cursor: pointer;justify-content: space-between;align-items: center;">
            <h1 class="navLogo" style="font-family: inter;letter-spacing: 2px;">
                abhitechie
            </h1>
            <ul id='menuList' style="align-items: center;">
                <li>Home</li>
                <li>Services</li>
                <li>Contact</li>
                <li>About</li>
                <li style="background-color: #a7d389;padding: 10px 20px;"><a style="color: #080d19;"
                        href="/auth/login">Access Your Profile</a></li>
            </ul>
        </div>

    </nav>
</body>

</html>