<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/res.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section id="particles-js">
        <nav class="navBar">
            <div
                style="max-width: 1200px;width: 100%; margin: auto;display: flex;cursor: pointer;justify-content: space-between;align-items: center;">
                <h1 class="navLogo" style="font-family: inter;letter-spacing: 2px;">
                    abhitechie
                </h1>
                <ul id='menuList' style="align-items: center;">
                    <li>Home</li>
                    <li>Services</li>
                    <li>Contact</li>
                    <li>About</li>
                    <li style="background-color: #a7d389;padding: 10px 20px;"><a style="color: #080d19;"
                            href="/auth/login">Access Your Profile</a></li>
                </ul>
            </div>

        </nav>
        <div class="main" style="max-width: 1200px;margin: auto;">
            <h1 class="hero_heading">Crafting Exceptional Web Solutions for Your Business Needs</h1>
            <p class="hero_sub_heading">"Building Better Web Experiences"</p>
            <p class="hero_para">As a passionate <span class="activeText">web developer</span> , I am dedicated to
                crafting exceptional web solutions
                that meet your <span class="activeText">Business</span>, whether you require a simple website or a <span
                    class="activeText">complex web application</span>. With a
                focus on user <span class="activeText">experience</span>,<span class="activeText">accessibility</span>,
                and <span class="activeText">scalability</span>, I deliver high-quality results that exceed
                your expectations.</p>
        </div>
    </section>
    <div style="max-width: 100vw;width: 100%; border-top: 1px solid gray;">
        <div style="background-color: #080d19; width: 100%;">
            <div style="max-width: 1200px;margin:auto;width: 100%;padding-bottom: 250px;">
                <h3 class="timeLineTitle">Hi, I’m Abhishek. Nice to meet you.</h3>
                <p style="font-size: x-large;text-align: left;margin-top: 20px;">Greetings from your friendly Full stack
                    developer! I'm the one who brings life to digital spaces, a
                    connoisseur of both aesthetics and functionality. With a paintbrush of lines of code, I create
                    captivating projects that transform binary code into immersive, interactive journeys.</p>
                <p style="font-size: x-large;text-align: left;margin-top: 40px;">Feel free to reach out to me; I'm here,
                    ready to collaborate and bring visions to life. Let's create
                    something amazing together!</p>
            </div>
        </div>
        <div
            style="max-width: 1200px;margin:auto;width: 100%;display: flex;position: relative;top: -150px;border-radius: 20px;overflow: hidden;gap: 1px ;background-color: #b7b6b6;">
            <div
                style="background-color: aliceblue;min-height: 300px;height: auto; flex: 1;display: flex;flex-direction: column;align-items: center;padding: 60px 30px;">
                <div
                    style="height: 70px; width: 70px;background-color: #a7d389;border-radius: 35px;display: flex;justify-content: center;align-items: center;">
                    <ion-icon style="font-size: 35px;color: #080d19;" name="layers"></ion-icon>
                </div>
                <h3 style="color: #080d19;font-size: 30px;padding-top: 20px;">Frontend</h3>
                <p style="color: #080d19; font-size: larger;margin-top: 10px;">I dance with pixels, crafting dreams from
                    code and weaving them into living stories within the
                    browser's canvas.</p>
                <div style="display: flex;flex-direction: column;gap: 10px;margin-top: 40px;">

                    <h3 style="color: black;font-size: 22px;padding-bottom:10px ;">Design Tools</h3>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">HTML, CSS, JS</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Bootstrap</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Tailwind CSS</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">React Js/React Native</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Next Js</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Axios</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Framer Motion</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Redux</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Vercel</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Git/Github</p>
                </div>
            </div>
            <div
                style="background-color: aliceblue;min-height: 300px;height: auto; flex: 1;display: flex;flex-direction: column;align-items: center;padding: 60px 30px;">
                <div
                    style="height: 70px; width: 70px;background-color: #a7d389;border-radius: 35px;display: flex;justify-content: center;align-items: center;">
                    <ion-icon style="font-size: 35px;color: #080d19;" name="code-slash"></ion-icon>
                </div>
                <h3 style="color: #080d19;font-size: 25px;padding-top: 20px;">Backend</h3>
                <p style="color: #080d19; font-size: larger;margin-top: 10px;">I wield the terminal as my sword, where I
                    mold, shape, and secure data realms – storing information
                    is my realm of mastery.</p>
                <div style="display: flex;flex-direction: column;gap: 10px;margin-top: 40px;">

                    <h3 style="color: black;font-size: 22px;padding-bottom:10px ;">Dev Tools</h3>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Node js</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Express js</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">MongoDB</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Django</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Passport</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Bcrypt</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Restify</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Nest.js</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Api</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Terminal</p>

                </div>
            </div>
            <div
                style="background-color: aliceblue;min-height: 300px;height: auto; flex: 1;display: flex;flex-direction: column;align-items: center;padding: 60px 30px;">
                <div
                    style="height: 70px; width: 70px;background-color: #a7d389;border-radius: 35px;display: flex;justify-content: center;align-items: center;">
                    <ion-icon style="font-size: 35px;color: #080d19;" name="terminal"></ion-icon>
                </div>
                <h3 style="color: #080d19;font-size: 25px;padding-top: 20px;">Deployment</h3>
                <p style="color: #080d19; font-size: larger;margin-top: 10px;">I command the digital skies, deploying
                    websites like constellations, each meticulously placed to shine bright in the vast online universe.
                </p>
                <div style="display: flex;flex-direction: column;gap: 10px;margin-top: 40px;">

                    <h3 style="color: black;font-size: 22px;padding-bottom:10px ;">Live Tools</h3>
                    <p style="color: #080d19;font-size: larger; cursor: pointer;">Linux/Ubuntu</p>
                    <p style="color: #080d19;font-size: larger; cursor: pointer;">Nginx</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Pm2</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Docker</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Kubernetes</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">AWS Elastic Beanstalk</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Heroku</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">DigitalOcean App Platform</p>
                    <p style="color: #080d19;font-size: larger;cursor: pointer;">Caddy</p>
                </div>
            </div>

        </div>
    </div>
    <div class="projects">
        <div style="display: flex;max-width: 1200px;margin: auto;width: 100%;gap: 2%;align-items: flex-start;">
            <div class="left" style="position: sticky;top: 50px;height: 100vh; min-width: 350px;width: 30px;">
                <h2 class="timeLineTitle" style="text-align: left;">Projects</h2>
                <p style="font-size:22px; font-family: inter;text-align:left ;padding-left: 20px;">Here you will find
                    some of the personal and clients projects that I created with each project
                    containing
                    its
                    own case study</p>
                <div style="padding-left: 20px;display: flex;flex-direction: column;gap: 10px;margin-top: 30px;">
                    <a href="#portfolio">
                        <div style="display: flex;align-items: center;gap: 10px;">

                            <div>
                                <hr style="width: 70px;border:1px solid white;">
                            </div>
                            <span style="color: white;font-size: 22px;font-family: inter;">Portfolio</span>
                        </div>
                    </a>
                    <a href="#school-portal">
                        <div style="display: flex;align-items: center;gap: 10px;">
                            <div>
                                <hr style="width: 40px;border:1px solid gray;">
                            </div>
                            <span style="color: gray;font-size: 22px;font-family: inter;">Schools Portal</span>
                        </div>
                    </a>
                    <a href="#tacker">


                        <div style="display: flex;align-items: center;gap: 10px;">
                            <div>
                                <hr style="width: 40px;border:1px solid gray;">
                            </div>
                            <span style="color: gray;font-size: 22px;font-family: inter;">Tacker</span>
                        </div>
                    </a>
                    <a href="#counpon">
                        <div style="display: flex;align-items: center;gap: 10px;">
                            <div>
                                <hr style="width: 40px;border:1px solid gray;">
                            </div>
                            <span style="color: gray;font-size: 22px;font-family: inter;">coupon's</span>
                        </div>
                    </a>
                </div>

            </div>
            <div class="right" style="padding-top:130px ;">
                <p style="font-size: 22px; font-family:inter;text-align: left;color: #b7b6b6;padding-bottom:70px ;">I
                    began learning how the web functions in January 2022 and quickly fell down the rabbit hole of coding
                    and site creation. I currently work as a full stack developer and am content to create software for
                    a <span class="activeText">large corporate</span>, a <span class="activeText">start-up</span>, a
                    <span class="activeText">Freelance projects</span>, and an <span class="activeText">advertising
                        agency</span>.
                </p>
                <div id="portfolio" class="projectList" style="display: flex;gap: 20px;">
                    <div
                        style="min-width: 150px;max-width: 150px;margin-top: 5px; width: 100%; aspect-ratio: 16 / 9;height: auto;">
                        <img src="images/project2.png"
                            style="width: 100%; object-fit: contain;box-shadow: 0px 0px 10px #576da08f">
                    </div>
                    <div>
                        <h4 style="font-family: inter;font-size:18px ;text-align: left;font-weight: 900;">
                            School/Collages/University Portal </h4>
                        <p
                            style="font-family: inter;font-size:17px ;color: #b7b6b6;padding-top:15px ; text-align: left;word-break: break-word;">
                            Users of this website can locate the <span class="activeText" style="font-size: 17px;">best
                                collages</span> from
                            around the globe, <span class="activeText" style="font-size: 17px;">compare the best
                                collages</span>, and obtain the best <span class="activeText"
                                style="font-size: 17px;">advice for themselves</span>. The user may also compare <span
                                class="activeText" style="font-size: 17px;">course fees</span> and get information on
                            any type of <span class="activeText" style="font-size: 17px;">test</span>, including <span
                                class="activeText" style="font-size: 17px;">JEET</span> , <span class="activeText"
                                style="font-size: 17px;">NEET</span>, and <span class="activeText"
                                style="font-size: 17px;">Cat</span>.
                        </p>
                        <p
                            style="font-family: inter;font-size:17px ;color: #b7b6b6;padding-top:15px ; text-align: left;word-break: break-word;">
                            Included in this project are the <span class="activeText"
                                style="font-size: 17px;">frontend</span>, <span class="activeText"
                                style="font-size: 17px;">backend</span>, and <span class="activeText"
                                style="font-size: 17px;">admin panel</span> from the admin panel
                            Administrators control every aspect of the website, including <span class="activeText"
                                style="font-size: 17px;">adding</span>, <span class="activeText"
                                style="font-size: 17px;">deleting</span>, and <span class="activeText"
                                style="font-size: 17px;">editing
                                collages</span>. Additionally, administrators have the ability to <span
                                class="activeText" style="font-size: 17px;">establish</span> and <span
                                class="activeText" style="font-size: 17px;">assign
                                responsibilities</span> to others. and numerous other teachers, such as <span
                                class="activeText" style="font-size: 17px;">blogging</span>, user
                            administration, <span class="activeText" style="font-size: 17px;">role management</span>,
                            and <span class="activeText" style="font-size: 17px;">category control</span></p>
                        <div style="display: flex;margin:30px 10px 10px 10px;gap: 15px;flex-wrap: wrap;">
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                HTML</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                CSS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                JavaScript</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Node Js</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Express JS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                MongoDB</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                EJS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Web Socket</p>

                        </div>
                    </div>
                </div>
                <div id="school-portal" class="projectList" style="display: flex;gap: 20px;">
                    <div
                        style="min-width: 150px;max-width: 150px;margin-top: 5px; width: 100%; aspect-ratio: 16 / 9;height: auto;">
                        <img src="images/project2.png"
                            style="width: 100%; object-fit: contain;box-shadow: 0px 0px 10px #576da08f">
                    </div>
                    <div>
                        <h4 style="font-family: inter;font-size:18px ;text-align: left;font-weight: 900;">
                            School/Collages/University Portal </h4>
                        <p
                            style="font-family: inter;font-size:17px ;color: #b7b6b6;padding-top:15px ; text-align: left;word-break: break-word;">
                            Users of this website can locate the <span class="activeText" style="font-size: 17px;">best
                                collages</span> from
                            around the globe, <span class="activeText" style="font-size: 17px;">compare the best
                                collages</span>, and obtain the best <span class="activeText"
                                style="font-size: 17px;">advice for themselves</span>. The user may also compare <span
                                class="activeText" style="font-size: 17px;">course fees</span> and get information on
                            any type of <span class="activeText" style="font-size: 17px;">test</span>, including <span
                                class="activeText" style="font-size: 17px;">JEET</span> , <span class="activeText"
                                style="font-size: 17px;">NEET</span>, and <span class="activeText"
                                style="font-size: 17px;">Cat</span>.
                        </p>
                        <p
                            style="font-family: inter;font-size:17px ;color: #b7b6b6;padding-top:15px ; text-align: left;word-break: break-word;">
                            Included in this project are the <span class="activeText"
                                style="font-size: 17px;">frontend</span>, <span class="activeText"
                                style="font-size: 17px;">backend</span>, and <span class="activeText"
                                style="font-size: 17px;">admin panel</span> from the admin panel
                            Administrators control every aspect of the website, including <span class="activeText"
                                style="font-size: 17px;">adding</span>, <span class="activeText"
                                style="font-size: 17px;">deleting</span>, and <span class="activeText"
                                style="font-size: 17px;">editing
                                collages</span>. Additionally, administrators have the ability to <span
                                class="activeText" style="font-size: 17px;">establish</span> and <span
                                class="activeText" style="font-size: 17px;">assign
                                responsibilities</span> to others. and numerous other teachers, such as <span
                                class="activeText" style="font-size: 17px;">blogging</span>, user
                            administration, <span class="activeText" style="font-size: 17px;">role management</span>,
                            and <span class="activeText" style="font-size: 17px;">category control</span></p>
                        <div style="display: flex;margin:30px 10px 10px 10px;gap: 15px;flex-wrap: wrap;">
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                HTML</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                CSS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                JavaScript</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Node Js</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Express JS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                MongoDB</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                EJS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Web Socket</p>

                        </div>
                    </div>
                </div>
                <div id="tacker" class="projectList" style="display: flex;gap: 20px;">
                    <div
                        style="min-width: 150px;max-width: 150px;margin-top: 5px; width: 100%; aspect-ratio: 16 / 9;height: auto;">
                        <img src="images/project2.png"
                            style="width: 100%; object-fit: contain;box-shadow: 0px 0px 10px #576da08f">
                    </div>
                    <div>
                        <h4 style="font-family: inter;font-size:18px ;text-align: left;font-weight: 900;">
                            School/Collages/University Portal </h4>
                        <p
                            style="font-family: inter;font-size:17px ;color: #b7b6b6;padding-top:15px ; text-align: left;word-break: break-word;">
                            Users of this website can locate the <span class="activeText" style="font-size: 17px;">best
                                collages</span> from
                            around the globe, <span class="activeText" style="font-size: 17px;">compare the best
                                collages</span>, and obtain the best <span class="activeText"
                                style="font-size: 17px;">advice for themselves</span>. The user may also compare <span
                                class="activeText" style="font-size: 17px;">course fees</span> and get information on
                            any type of <span class="activeText" style="font-size: 17px;">test</span>, including <span
                                class="activeText" style="font-size: 17px;">JEET</span> , <span class="activeText"
                                style="font-size: 17px;">NEET</span>, and <span class="activeText"
                                style="font-size: 17px;">Cat</span>.
                        </p>
                        <p
                            style="font-family: inter;font-size:17px ;color: #b7b6b6;padding-top:15px ; text-align: left;word-break: break-word;">
                            Included in this project are the <span class="activeText"
                                style="font-size: 17px;">frontend</span>, <span class="activeText"
                                style="font-size: 17px;">backend</span>, and <span class="activeText"
                                style="font-size: 17px;">admin panel</span> from the admin panel
                            Administrators control every aspect of the website, including <span class="activeText"
                                style="font-size: 17px;">adding</span>, <span class="activeText"
                                style="font-size: 17px;">deleting</span>, and <span class="activeText"
                                style="font-size: 17px;">editing
                                collages</span>. Additionally, administrators have the ability to <span
                                class="activeText" style="font-size: 17px;">establish</span> and <span
                                class="activeText" style="font-size: 17px;">assign
                                responsibilities</span> to others. and numerous other teachers, such as <span
                                class="activeText" style="font-size: 17px;">blogging</span>, user
                            administration, <span class="activeText" style="font-size: 17px;">role management</span>,
                            and <span class="activeText" style="font-size: 17px;">category control</span></p>
                        <div style="display: flex;margin:30px 10px 10px 10px;gap: 15px;flex-wrap: wrap;">
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                HTML</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                CSS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                JavaScript</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Node Js</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Express JS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                MongoDB</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                EJS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Web Socket</p>

                        </div>
                    </div>
                </div>
                <div id="counpon" class="projectList" style="display: flex;gap: 20px;">
                    <div
                        style="min-width: 150px;max-width: 150px;margin-top: 5px; width: 100%; aspect-ratio: 16 / 9;height: auto;">
                        <img src="images/project2.png"
                            style="width: 100%; object-fit: contain;box-shadow: 0px 0px 10px #576da08f">
                    </div>
                    <div>
                        <h4 style="font-family: inter;font-size:18px ;text-align: left;font-weight: 900;">
                            School/Collages/University Portal </h4>
                        <p
                            style="font-family: inter;font-size:17px ;color: #b7b6b6;padding-top:15px ; text-align: left;word-break: break-word;">
                            Users of this website can locate the <span class="activeText" style="font-size: 17px;">best
                                collages</span> from
                            around the globe, <span class="activeText" style="font-size: 17px;">compare the best
                                collages</span>, and obtain the best <span class="activeText"
                                style="font-size: 17px;">advice for themselves</span>. The user may also compare <span
                                class="activeText" style="font-size: 17px;">course fees</span> and get information on
                            any type of <span class="activeText" style="font-size: 17px;">test</span>, including <span
                                class="activeText" style="font-size: 17px;">JEET</span> , <span class="activeText"
                                style="font-size: 17px;">NEET</span>, and <span class="activeText"
                                style="font-size: 17px;">Cat</span>.
                        </p>
                        <p
                            style="font-family: inter;font-size:17px ;color: #b7b6b6;padding-top:15px ; text-align: left;word-break: break-word;">
                            Included in this project are the <span class="activeText"
                                style="font-size: 17px;">frontend</span>, <span class="activeText"
                                style="font-size: 17px;">backend</span>, and <span class="activeText"
                                style="font-size: 17px;">admin panel</span> from the admin panel
                            Administrators control every aspect of the website, including <span class="activeText"
                                style="font-size: 17px;">adding</span>, <span class="activeText"
                                style="font-size: 17px;">deleting</span>, and <span class="activeText"
                                style="font-size: 17px;">editing
                                collages</span>. Additionally, administrators have the ability to <span
                                class="activeText" style="font-size: 17px;">establish</span> and <span
                                class="activeText" style="font-size: 17px;">assign
                                responsibilities</span> to others. and numerous other teachers, such as <span
                                class="activeText" style="font-size: 17px;">blogging</span>, user
                            administration, <span class="activeText" style="font-size: 17px;">role management</span>,
                            and <span class="activeText" style="font-size: 17px;">category control</span></p>
                        <div style="display: flex;margin:30px 10px 10px 10px;gap: 15px;flex-wrap: wrap;">
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                HTML</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                CSS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                JavaScript</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Node Js</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Express JS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                MongoDB</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                EJS</p>
                            <p
                                style="background-color: #c2ff9b33;color: #a7d389;font-family: inter;padding: 10px 20px;border-radius:20px ;font-weight: 800;font-size: 17px;cursor: pointer;position: relative;z-index: 10;">
                                Web Socket</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="work">
        <div>
            <h3 class="timeLineTitle">Why you chose us</h3>
            <p class="workDis">At <span class="span">ABHITECHIE</span>, we believe in
                incorporating strategy
                into every aspect of our work. From the initial planning stages of mobile app development to the
                implementation of UX/UI design best practices and the utilization of agile project management
                methodologies, we prioritize strategic thinking throughout our process. Our goal is not only to excel in
                the services we provide, but also to continuously refine and improve the way we approach our work.</p>
        </div>
        <div class="cardCon">
            <div class="cardBox" data-aos="fade-up" data-aos-duration="500">
                <img class="cardImag" src="./images/cost.jpg" alt="">
                <h6 class="cardHeading">Cost</h6>
                <p class="cardDis">Our services are highly cost-effective, providing excellent value for your investment
                    while maintaining the highest level of quality and results.</p>
            </div>
            <div class="cardBox" data-aos="fade-up" data-aos-duration="500">
                <img class="cardImag" src="./images/quality.jpg" alt="">
                <h6 class="cardHeading">Quality</h6>
                <p class="cardDis">We take great pride in providing top-quality services that exceed our clients'
                    expectations, with a strong focus on attention to detail and exceptional results.</p>
            </div>
            <div class="cardBox" data-aos="fade-up" data-aos-duration="500">
                <img class="cardImag" src="./images/speed.jpg" alt="">
                <h6 class="cardHeading">Cost</h6>
                <p class="cardDis">Our services offer quick and efficient development, ensuring timely delivery of
                    projects without compromising on quality or attention to detail.</p>
            </div>
        </div>
    </div>
    <div class="servicesSection">
        <div style="max-width: 1200px;margin: auto;width: 100%">
            <!-- <div style="position: absolute;left: 0px;right: 0px;margin: auto;">
                <svg width="779" height="510" viewBox="0 0 779 510" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M719.077 464.557L719.077 510H719.563L719.563 464.557L779 464.557L779 463.499L719.563 463.499L719.563 404.766H779L779 403.707H719.563L719.563 344.974H779L779 343.916H719.563L719.563 285.183H779L779 284.124H719.563L719.563 225.392L779 225.392L779 224.333L719.563 224.333L719.563 165.6L779 165.6L779 164.541L719.563 164.541L719.563 105.808H779L779 104.75H719.563L719.563 46.0172L779 46.0172L779 44.9584L719.563 44.9584L719.563 0.000140676L719.077 0.000140718L719.077 44.9584L659.64 44.9584V0.000113591L659.155 0.000113634V44.9584L599.717 44.9584L599.717 0.000118818L599.232 0.000118861L599.232 44.9584L539.795 44.9584L539.795 0.000124045L539.31 0.000124088L539.31 44.9584L480.16 44.9584V0L479.099 9.25629e-08V44.9584L420.238 44.9584V5.22709e-06L419.177 5.31965e-06V44.9584L360.308 44.9584V1.04548e-05L359.247 1.05473e-05V44.9584L300.386 44.9584V1.56819e-05L299.325 1.57744e-05V44.9584L240.463 44.9584V2.0909e-05L239.402 2.10015e-05V44.9584L180.541 44.9585V2.6136e-05L179.48 2.62286e-05V44.9585L120.618 44.9585V3.13631e-05L119.557 3.14557e-05V44.9585L60.6957 44.9585V3.65902e-05L59.6346 3.66828e-05V44.9585L6.10352e-05 44.9585V46.0173L59.6346 46.0173L59.6346 104.75H0.00012207V105.809H59.6346V164.541L0.00012207 164.541V165.6L59.6346 165.6V224.333L0.00012207 224.333V225.392L59.6346 225.392V284.124H0.00012207V285.183H59.6346V343.916H0.00012207V344.975H59.6346V403.707H0.00012207V404.766H59.6346V463.499H0.00012207V464.557H59.6346V510H60.6958V464.557H119.557V510H120.618V464.557L179.48 464.557V510H180.541V464.557H239.402V510H240.463V464.557H299.325V510H300.386V464.557H359.247V510H360.309V464.557L419.177 464.557V510H420.238V464.557H479.099V510H480.16V464.557H539.31V510H539.795V464.557L599.232 464.557V510H599.718V464.557H659.155V510H659.64V464.557H719.077ZM719.077 463.499H659.64L659.64 404.766L719.077 404.766L719.077 463.499ZM719.077 403.707L659.64 403.707V344.975L719.077 344.974L719.077 403.707ZM719.077 343.916L659.64 343.916L659.64 285.183L719.077 285.183L719.077 343.916ZM719.077 284.124L659.64 284.124L659.64 225.392H719.077L719.077 284.124ZM719.077 224.333H659.64V165.6H719.077L719.077 224.333ZM719.077 164.541H659.64L659.64 105.809L719.077 105.808L719.077 164.541ZM719.077 104.75L659.64 104.75L659.64 46.0172L719.077 46.0172L719.077 104.75ZM659.155 46.0172L659.155 104.75L599.717 104.75V46.0172L659.155 46.0172ZM599.232 46.0172V104.75H539.795V46.0172L599.232 46.0172ZM539.31 46.0172V104.75L480.16 104.75V46.0172L539.31 46.0172ZM539.795 105.809H599.232V164.541L539.795 164.541V105.809ZM539.31 164.541V105.809L480.16 105.809V164.541H539.31ZM539.795 165.6L599.232 165.6L599.232 224.333L539.795 224.333L539.795 165.6ZM539.31 224.333L539.31 165.6H480.16V224.333H539.31ZM539.795 225.392L599.232 225.392V284.124H539.795V225.392ZM539.31 284.124L539.31 225.392H480.16L480.16 284.124H539.31ZM539.795 285.183H599.232V343.916L539.795 343.916V285.183ZM539.31 343.916V285.183H480.16V343.916H539.31ZM539.795 344.975L599.232 344.975L599.232 403.707H539.795L539.795 344.975ZM539.31 403.707L539.31 344.975H480.16V403.707H539.31ZM539.795 404.766H599.232V463.499L539.795 463.499V404.766ZM539.31 463.499V404.766H480.16V463.499H539.31ZM599.718 463.499V404.766H659.155L659.155 463.499H599.718ZM659.155 403.707H599.718L599.718 344.975H659.155V403.707ZM659.155 343.916H599.718V285.183H659.155L659.155 343.916ZM659.155 284.124H599.718L599.717 225.392L659.155 225.392L659.155 284.124ZM659.155 224.333L599.717 224.333L599.717 165.6L659.155 165.6V224.333ZM659.155 164.541L599.717 164.541V105.809L659.155 105.809L659.155 164.541ZM60.6958 404.766V463.499H119.557V404.766L60.6958 404.766ZM120.618 404.766V463.499L179.48 463.499V404.766H120.618ZM180.541 404.766V463.499H239.402V404.766H180.541ZM240.463 404.766V463.499H299.325V404.766L240.463 404.766ZM300.386 404.766V463.499H359.247V404.766H300.386ZM360.309 404.766V463.499L419.177 463.499V404.766H360.309ZM420.238 404.766V463.499H479.099V404.766H420.238ZM420.238 403.707H479.099V344.975H420.238V403.707ZM420.238 343.916H479.099V285.183H420.238V343.916ZM420.238 284.124H479.099L479.099 225.392H420.238L420.238 284.124ZM420.238 224.333H479.099V165.6H420.238V224.333ZM420.238 164.541H479.099V105.809L420.238 105.809V164.541ZM420.238 104.75L479.099 104.75V46.0172L420.238 46.0172V104.75ZM419.177 104.75V46.0172L360.308 46.0172V104.75L419.177 104.75ZM359.247 104.75V46.0172L300.386 46.0172V104.75L359.247 104.75ZM299.325 104.75V46.0172L240.463 46.0172V104.75L299.325 104.75ZM239.402 104.75L239.402 46.0172L180.541 46.0173V104.75H239.402ZM179.48 104.75V46.0173L120.618 46.0173V104.75L179.48 104.75ZM119.557 104.75V46.0173L60.6957 46.0173L60.6958 104.75L119.557 104.75ZM119.557 105.809L60.6958 105.809V164.541H119.557V105.809ZM119.557 165.6H60.6958V224.333H119.557V165.6ZM119.557 225.392H60.6958V284.124L119.557 284.124V225.392ZM119.557 285.183L60.6958 285.183V343.916L119.557 343.916V285.183ZM119.557 344.975L60.6958 344.975V403.707L119.557 403.707L119.557 344.975ZM120.618 344.975L120.618 403.707H179.48V344.975H120.618ZM180.541 344.975V403.707H239.402V344.975H180.541ZM240.463 344.975V403.707L299.325 403.707V344.975L240.463 344.975ZM300.386 344.975V403.707H359.247V344.975H300.386ZM360.309 344.975V403.707H419.177V344.975H360.309ZM360.309 343.916H419.177V285.183H360.309V343.916ZM360.309 284.124H419.177L419.177 225.392L360.308 225.392L360.309 284.124ZM360.308 224.333L419.177 224.333V165.6L360.308 165.6V224.333ZM360.308 164.541L419.177 164.541V105.809L360.308 105.809V164.541ZM359.247 164.541V105.809L300.386 105.809V164.541H359.247ZM299.325 164.541V105.809L240.463 105.809V164.541H299.325ZM239.402 164.541V105.809H180.541L180.541 164.541L239.402 164.541ZM179.48 164.541L179.48 105.809L120.618 105.809V164.541H179.48ZM179.48 165.6H120.618V224.333H179.48V165.6ZM179.48 225.392H120.618V284.124H179.48V225.392ZM179.48 285.183H120.618V343.916H179.48V285.183ZM180.541 285.183V343.916H239.402V285.183H180.541ZM240.463 285.183V343.916L299.325 343.916V285.183L240.463 285.183ZM300.386 285.183V343.916H359.247V285.183H300.386ZM300.386 284.124H359.247L359.247 225.392H300.386L300.386 284.124ZM300.386 224.333H359.247V165.6H300.386V224.333ZM299.325 224.333V165.6H240.463V224.333H299.325ZM239.402 224.333V165.6L180.541 165.6V224.333L239.402 224.333ZM239.402 225.392L180.541 225.392V284.124H239.402V225.392ZM240.463 225.392L240.463 284.124L299.325 284.124L299.325 225.392H240.463Z"
                        fill="#E5EFFF"></path>
                </svg>
            </div> -->

            <div class="servicePageTop">
                <h2 class="servicesHeading">Services</h2>
            </div>
            <div class="services" style="padding-bottom: 60px;">
                <div class="serviceCard">
                    <img src="./images/service/html.avif" class="serviceImage" alt="">
                    <div class="serviceText">
                        <h3>HTML, CSS, JS</h3>
                        <p>Web pages create Using pure HTML, CSS, JS with fully responsive</p>
                    </div>
                </div>
                <div class="serviceCard">
                    <img src="./images/service/mern-stack.jpg" class="serviceImage" alt="">
                    <div class="serviceText">
                        <h3>MERN stack</h3>
                        <p>Frontend backend build in Node, Express, MongoDB, React</p>
                    </div>
                </div>
                <div class="serviceCard">
                    <img src="./images/service/next.jpg" class="serviceImage" alt="">
                    <div class="serviceText">
                        <h3>Next js</h3>
                        <p>Frontend build in next js, good for SEO prospective</p>
                    </div>
                </div>
                <div class="serviceCard">
                    <img src="./images/service/node_js.png" class="serviceImage" alt="">
                    <div class="serviceText">
                        <h3>Node js</h3>
                        <p>Create Rest API in node js easily connect with Rect and any another framework</p>
                    </div>
                </div>
                <div class="serviceCard">
                    <img src="./images/service/php.webp" class="serviceImage" alt="">
                    <div class="serviceText">
                        <h3>PHP Website</h3>
                        <p>User Website backend create in PHP and frontend will be in HTML, CSS, JS </p>
                    </div>
                </div>
                <div class="serviceCard">
                    <img src="./images/service/python.avif" class="serviceImage" alt="">
                    <div class="serviceText">
                        <h3>Django </h3>
                        <p>User Website backend create in Django/Python and frontend will be in HTML, CSS, JS </p>
                    </div>
                </div>
                <div class="serviceCard">
                    <img src="./images/service/react.jpg" class="serviceImage" alt="">
                    <div class="serviceText">
                        <h3>React js </h3>
                        <p>Build single page website in react js, fully responsive</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="display: flex;justify-content: space-between;">
        <div>
            <h1 class="navLogo" style="font-family: inter;letter-spacing: 2px;">
                abhitechie
            </h1>
            <div>
                social media
            </div>
        </div>
        <div>
            <h4>Navigation</h4>
            <p>Home</p>
            <p>Services</p>
            <p>Contact Us</p>
            <p>About Us</p>

        </div>
        <div>
            <h4>Services</h4>
            <p>node js </p>
            <p>express js </p>
            <p>react js</p>
        </div>
    </div>
    <div style="position: fixed; bottom: 20px; right: 20px;display: flex;flex-direction: column;align-items: end;">

        <div id="chatBox"
            style="min-height: 200px;min-width: 100px;background-color: #080d19; display: flex; flex-direction: column; justify-content: end;">
            <div id="messages" style="color: black;"> </div>
            <form action="" id="form">
                <input id="input" type="text" style="color: black; text-align: left;">
                <button>submit</button>
            </form>
        </div>
        <div id="chat"
            style="background-color: #a7d389;width: min-content;padding: 10px;display: flex;border-radius: 50%; font-size: 50px;">
            <ion-icon name="chatbox-outline"></ion-icon>
        </div>
    </div>
    <script src="./js/particles.js"></script>
    <script src="./js/app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- https://cdn.dribbble.com/uploads/48226/original/b8bd4e4273cceae2889d9d259b04f732.mp4?1689028949 -->
    <!-- https://cdn.dribbble.com/uploads/48292/original/30fd1f7b63806eff4db0d4276eb1ac45.mp4?1689187515 -->
    <script>
        AOS.init();
    </script>
    <script>
        $(".services").slick({
            dots: false,
            infinite: true,
            speed: 300,
            autoplay: true,
            autoplaySpeed: 2000,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerMode: true,
            responsive: [{

                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    infinite: true
                }

            }, {

                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    dots: true
                }

            }, {

                breakpoint: 300,
                settings: "unslick" // destroys slick

            }]
        });
    </script>
    <script>
        const chat = document.getElementById("chat")
        const chatBox = document.getElementById("chatBox")
        chat.addEventListener("click", function () {
            const computedStyle = window.getComputedStyle(chatBox);
            const displayValue = computedStyle.getPropertyValue("display");
            if (displayValue == "none") {
                chatBox.style.display = "block"
            }
            else {

                chatBox.style.display = "none"
            }
        })
    </script>
    <script src="./js/main.js"></script>
    <script src="http://localhost:8008/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        socket.emit('setUp', { name: "abhishek", _id: "kshdfjhfdsfuadsywe7r68ereoriew9ru" });
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            if (input.value) {
                input.value = '';
            }
        });
        var messages = document.getElementById('messages');
        socket.on('xyz', (msg) => {
            console.log(msg)
            var item = document.createElement('li');
            item.textContent = msg;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });
    </script>
</body>

</html>