<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow: hidden;
            font-family: sans-serif;
        }

        :root {
            --light-bg: #f1f5f9;
            --dark-bg: #0f172a;
            --primary-dark-text:#100512;
        }
    </style>
</head>

<body>
    <div style="display: flex;height: 100vh;width   100vw;">
        <div style="flex: 1;background-color: var(--light-bg);">
<h1>
    lorem 2
</h1>
            <img src="/images/ils1.svg" alt="" style="height: 100%;width :100%;">
        </div>
        <div style="flex: 1;">

        </div>
    </div>
</body>

</html>