<section class="about">
    <h2 class="about_h1">About ME</h2>
    <p class="about_dis">hii</p>
    <div class="about_container">
        <div class="about_image">
            <img src="Images/herosection/IMG_7644.JPG" alt="loading...">
        </div>
        <div class="about_data">
            <h1>Passionate about creating exceptional web experiences</h1>
            <p class="about_dis_para">Hi, I'm Abhishek Pundir, a full stack web developer with 8 years of experience. I'm passionate about creating exceptional web experiences that not only look great, but also function flawlessly. I have a deep understanding of web technologies and best practices, and I'm always looking for ways to improve my skills and stay up-to-date with the latest trends.</p>
            <div class="btn_container">
                <button class="btn btn_two">Learn More</button>
            </div>
        </div>

    </div>
</section>