<main>
    <section class="section_hero section">
        <div class="container grid_two_coloum">
            <div class="section_hero_data">
                <p class="hero_top_text">this is me...</p>
                <h1>aBHISHEK Pundir</h1>
                <p class="hero_dis">As a web developer, I specialize in creating dynamic and responsive websites that are not only visually stunning but also intuitive and user-friendly. I'm able to bring your ideas to life by utilizing the latest technologies and best practices. Whether you're looking for a custom website, an e-commerce platform, or a complex web application, I'm here to help you bring your vision to life. </p>
                <div class="btn_container">
                    <button class="btn btn_one">click me</button>
                    <button class="btn btn_two">click me</button>
                </div>
            </div>
            <div class="section_hero_image">
                <img src="Images/herosection/myImage.jpg" alt="loading...">
            </div>
        </div>
    </section>
</main>