<section class="Servies">
    <div class="container">
        <h2 class="Servies_h1">Our Servies</h2>
        <p class="Servies_dis">Expert web development with a personal touch</p>
        <div class="Servies_row">
            <div class="Servies_card">
                <i class="fa-solid fa-laptop-code"></i>
                <h3>Web Devlopment</h3>
                <p>From small business websites to complex web applications, I can help you create a site that stands out and achieves your goals.</p>
            </div>
            <div class="Servies_card">
                <i class="fa-solid fa-object-group"></i>
                <h3>Web Design</h3>
                <p>Your website is an extension of your brand, so it's important to create a design that reflects your brand identity and values. I can help you with Wes designing servies</p>
            </div>
            <div class="Servies_card">
                <i class="fa-brands fa-node"></i>
                <h3>Backend</h3>
                <p>Whether you need a real-time chat application or a scalable backend for your web application, I can help you create a robust and efficient solution using Node.js.</p>
            </div>
            <div class="Servies_card">
                <i class="fa-brands fa-react"></i>
                <h3>Single Page Website</h3>
                <p> From creating wireframes to designing mockups and developing the final website, I can provide end-to-end single page website.</p>
            </div>
            <div class="Servies_card">
                <i class="fa-solid fa-mobile"></i>
                <h3>Android Development</h3>
                <p> I can help you create cross-platform apps that are optimized for both operating systems, providing a seamless user experience.</p>
            </div>
        </div>
    </div>
</section>