<section class="top-header">
    <div class="container">
        <div class="row">
            <div class="three-boxs top-box-one">
                <a href="tel:0000000000"> <span><ion-icon name="call-outline"></ion-icon></span> +91
                    0000000000</a>
                <a href="mailto:"><span><ion-icon name="mail-unread-outline"></ion-icon></span>
                    demo@demo1234.com</a>
            </div>
            <div class="three-boxs top-box-two">
                <p>Connect with us:</p>
                <div>
                    <a href="#"> <span><ion-icon name="logo-facebook"></ion-icon></span></a>
                    <a href="#"> <span><ion-icon name="logo-instagram"></ion-icon></span></a>
                    <a href="#"> <span><ion-icon name="logo-twitter"></ion-icon></span></a>
                    <a href="#"> <span><ion-icon name="logo-linkedin"></ion-icon></span></a>
                    <a href="#"> <span><ion-icon name="logo-youtube"></ion-icon></span></a>
                </div>

            </div>
            <div class="three-boxs top-box-three">
                <a href="user-profile.html"><ion-icon name="person-circle-outline"></ion-icon></a>
                <a href="#"><ion-icon name="log-in-outline"></ion-icon></a>
                <a href="#"><ion-icon name="log-out-outline"></ion-icon></a>
            </div>
        </div>
    </div>
</section>